<mat-card class="mat-card">
  <h1>Credit Card Details</h1>
  <ng-container *ngIf="creditCardDetails">
    <div><strong>CreditCard ID:</strong>{{ creditCardDetails.id }}</div>
    <div><strong> Name:</strong>{{ creditCardDetails.name }}</div>
    <div><strong>Description:</strong>{{ creditCardDetails.description }}</div>
    <div><strong>Bank Name:</strong>{{ creditCardDetails.bankName }}</div>
    <div><strong>Max Credit:</strong>{{ creditCardDetails.maxCredit }}</div>
    <div>
      <strong>Interest Rate:</strong>{{ creditCardDetails.interestRate }}
    </div>
    <div>
      <strong>Recommended Score:</strong
      >{{ creditCardDetails.recommendedScore }}
    </div>
    <div><strong>Active:</strong>{{ creditCardDetails.active }}</div>
  </ng-container>
</mat-card>
